{% extends 'base.html.twig' %}

{% form_theme formCharacter "bootstrap_4_layout.html.twig" %}

{% block title %}Hello CharacterController!{% endblock %}

{% block stylesheets %}
	<style>
		label.required:after {
 			content: "";
		}
		label:after {
			content: "  (optional)";
		}
	</style>
{% endblock %}

{% block body %}
	{{ form_start(formCharacter) }}
		{{ form_widget(formCharacter) }}
		<button type="submit" class="btn btn-outline-primary">Ready !</button>
		{% if(isEditMode) %}
			<a href="{{ path("character_delete", {'id': character.id}) }}" class="btn btn-outline-danger float-right">Delete character</a>
		{% endif %}
	{{ form_end(formCharacter) }}
{% endblock %}
