<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>GrosbillMaker - {% block title %}Welcome!{% endblock %}</title>
	<link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	{% block stylesheets %}{% endblock %}
</head>
<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Grosbill Maker</a>
		<ul class="navbar-nav mr-auto">

			<li class="nav-item {% block indexActive %}{% endblock %}">
				<a class="nav-link" href="{{ path("app_index") }}">Home</a>
			</li>

			<li class="nav-item {% block characterActive %}{% endblock %}">
				<a class="nav-link" href="{{ path("character_list") }}">My Characters</a>
			</li>

			<li class="nav-item {% block createActive %}{% endblock %}">
				<a class="nav-link" href="{{ path("character_create") }}">Create a character</a>
			</li>

			<li class="nav-item {% block aboutActive %}{% endblock %}">
				<a class="nav-link" href="{{ path("app_index") }}">About</a>
			</li>
			
		</ul>
	</nav>
	<div class="container">
		{% block body %}{% endblock %}
	</div>
	{% block javascripts %}{% endblock %}
</body>
</html>